.menu {
  background-color: #eee;
  box-shadow: 1px 0px 13px 0px rgba(0,0,0,0.75);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  left: 0;
  padding: 20px 0 0 50px;
  position: fixed;
  top: 0;
  width: 15vw;
  transform: translate(-100%);
  transition: transform .3s ease;
  z-index: 1;

  @media (max-width: 920px) {
    width: 60vw;
    z-index: 10;
  }

  &.is-actived {
    transform: translate(0);
  }

  &__item {
    margin-bottom: 12px;
  }

  &__link {
    font-size: 1.125em;
    font-weight: 400;
    text-decoration: none;
  }
}

.close-button {
  border: none;
  color: #333;
  cursor: pointer;
  padding: 0;
  width: 28px;
  margin-bottom: 24px;
  transition: transform .3s ease;

  &:hover {
    transform: rotate(90deg);
  }
}